<section-header>{{::$ctrl.heading}}</section-header>
<waves-scrollbox class="transactions-table">
    <table>
        <thead>
        <tr>
            <td>DATE</td>
            <td>TIME</td>
            <td>IS OPEN</td>
            <td>EXPAND</td>
        </tr>
        </thead>
        <tbody ng-controller="homeController as hctrl">
      <!--TODO PLACEHOLDER DATE / TIME  -->
        <tr>
            <td>11.11.2017</td>
            <td>open</td>
            <td>
                <a>22:22:00</a>
            </td>
            <td>
                <a ng-click="hctrl.briefOpen()">
                    EXPAND
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <div id="brief-history" waves-dialog show-buttons="false">
        <img ng-src="https://gvo.io/testsvggenerator2017/1.svg">
    </div>
</waves-scrollbox>